:root:has(main.light) {
        --accent-color: #00AA00;

        body {
                background: #EEE;
        }

        .main {
                color: #111;
                background-image:
                        linear-gradient(to right, #ddd 1px, transparent 1px),
                        linear-gradient(to bottom, #ddd 1px, transparent 1px),
                        linear-gradient(to right, transparent 50%, #ddd 50%, #ddd 52%, transparent 52%),
                        linear-gradient(to bottom, transparent 50%, #ddd 50%, #ddd 52%, transparent 52%);
                background-size: 50px 50px;
        }

        .loader-container {
                background-color: #fff;
        }

        .cool-container {
                /* background: linear-gradient(135deg, #777, #666); */
                background: #444;
                -webkit-box-shadow: 0px 4px 8px #ddd;
                box-shadow: 0px 4px 8px #ddd;
        }

        .cool-body {
                /* background: linear-gradient(135deg, #FFF, #FFF); */
                background: #F5F5F5;
        }

        .about .my-name .title {
                color: #111;
        }

        .about .my-image-container {
                background: -o-linear-gradient(315deg, #111, #111);
                background: linear-gradient(135deg, #111, #111);
        }

        section.expand-section {
                border-color: #444;
        }

        .section-header::before,
        .section-footer::before {
                background: -o-linear-gradient(315deg, #DDD, #DDD);
                background: linear-gradient(135deg, #DDD, #DDD);
        }

        .section-header h1 {
                color: #222;
                font-weight: 600;
        }

        .title {
                color: #111;
        }

        .description {
                color: #333;
        }

        .year {
                background-color: #111;
                color: #ddd;
        }

        .highlighted {
                color: #111;
        }

        .inline-link {
                color: #111;
        }

        .stickers .sticker {
                background-color: transparent;
                border-color: #444;
                color: #222;
                font-weight: 600;
        }

        .list-bullet .icon {
                -webkit-filter: invert(0) contrast(1) !important;
                filter: invert(0) contrast(1) !important;
        }

        .svg.icon.black {
                -webkit-filter: invert(0) contrast(1);
                filter: invert(0) contrast(1);
        }

        .sub-title {
                font-weight: 500;
        }

        .theme-toggle {
                background-color: #EEE;
        }

        .developer-links a .link-icon img,
        .developer-links a .link-icon img,
        .developer-links a .link-icon img {
                -webkit-filter: invert(59%) sepia(4%) saturate(19%) hue-rotate(338deg) brightness(10%) contrast(87%);
                filter: invert(59%) sepia(4%) saturate(19%) hue-rotate(338deg) brightness(10%) contrast(87%);
        }

        .developer-links a:hover .link-icon img,
        .developer-links a:active .link-icon img,
        .developer-links a:focus .link-icon img {
                -webkit-filter: invert(59%) sepia(4%) saturate(19%) hue-rotate(338deg) brightness(50%) contrast(87%);
                filter: invert(59%) sepia(4%) saturate(19%) hue-rotate(338deg) brightness(50%) contrast(87%);
        }

        .workExperience,
        .projects {
                .section-content {
                        border-top: solid 2px #AAA;
                        border-bottom: solid 2px #AAA;
                }

                .section-content.closed {
                        background-color: #222;
                        background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#EEE));
                        background: -o-linear-gradient(#EEE, #EEE);
                        background: linear-gradient(#EEE, #EEE);
                }

                .section-content.closed:hover {
                        -webkit-box-shadow: 0px 2px 4px 0px #DDD;
                        box-shadow: 0px 2px 4px 0px #DDD;
                }

                .section-closer {
                        background-color: #111;

                        img {
                                -webkit-filter: invert(1) contrast(1) !important;
                                filter: invert(1) contrast(1) !important;
                        }
                }
        }
}