:root {
        --max-width: 800px;
        --border-radius: 12px;
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 214, 219, 220;
        --background-end-rgb: 255, 255, 255;
        --accent-color: #c7f0a8;
        --background-start-rgb: 30, 30, 30;
        --background-end-rgb: 20, 20, 20;
        --red-rgb: 0 0 0;
        --blue-rgb: 0 0 0;
        --green-rgb: 0 0 0;
        --yellow-rgb: 0 0 0;
        /* --blue-rgb: 56 189 248;
        --green-rgb: 74 222 128;
        --yellow-rgb: 253 224 71; */
}

* {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: "Inter", sans-serif;
        -webkit-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
}

html,
body {
        max-width: 100vw;
        overflow-x: hidden;
}

body {
        color: rgb(var(--foreground-rgb));
        background: -webkit-gradient(linear,
                        left top, left bottom,
                        from(transparent),
                        to(rgb(var(--background-end-rgb)))) rgb(var(--background-start-rgb));
        background: -o-linear-gradient(top,
                        transparent,
                        rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
        background: linear-gradient(to bottom,
                        transparent,
                        rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));

}

a {
        color: inherit;
        text-decoration: none;
}

button {
        background-color: transparent;
        border: none;
}

.main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        /* padding: 6rem; */
        min-height: 100vh;
        color: #ddd;
        font-size: 13px;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
                "slnt" 0;
        text-wrap: pretty;
        letter-spacing: 0.25px;
        position: relative;
        scroll-behavior: smooth;
        /* background-color: #222; */
        background-image:
                linear-gradient(to right, #222 1px, transparent 1px),
                linear-gradient(to bottom, #222 1px, transparent 1px),
                linear-gradient(to right, transparent 50%, #222 50%, #222 52%, transparent 52%),
                linear-gradient(to bottom, transparent 50%, #222 50%, #222 52%, transparent 52%);
        background-size: 50px 50px;
}

section {
        width: 100%;
}

.center-container {
        max-width: var(--max-width);
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 1rem;
        /* background-color: #111; */
        padding-block: 2rem;
}

.loader-container {
        position: fixed;
        background-color: #222;
        z-index: 10;
        opacity: 1;
        height: 100dvh;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        left: 0;
        top: 0;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
}

.loader-container.hidden {
        /* opacity: 0; */
        top: -100%;
        /* z-index: -5; */
}

.cool-container {
        z-index: 5;
        width: clamp(200px, 100%, 600px);
        min-height: 150px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        /* background:linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4); */
        background: -o-linear-gradient(315deg, #777, #2e2e2e);
        background: linear-gradient(135deg, #777, #2e2e2e);
        border-radius: 12px;
        padding: 1.5px;
        -webkit-box-shadow: 0px 4px 8px #111;
        box-shadow: 0px 4px 8px #111;
}

.cool-body {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: -o-linear-gradient(315deg, #343434, #1f1f1f);
        background: linear-gradient(135deg, #343434, #1f1f1f);
        border-radius: 11px;
        padding-block: 1rem;
        padding-bottom: 2rem;
}

.about {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
}

.about .my-name {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0.25rem;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-block: 0.5rem;
}

.about .my-name .title {
        font-size: 1.35rem;
        font-weight: 400;
        color: #fff;
}

.about .my-name .sub-title {
        font-weight: 600;
        letter-spacing: 2px;
        color: var(--accent-color);
        font-size: 10px;
}

.about .my-image {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
}

.about .my-image-container {
        /* background: #999; */
        border-radius: 50%;
        overflow: hidden;
        background: -o-linear-gradient(315deg, #fff, #bbb);
        background: linear-gradient(135deg, #fff, #bbb);
        padding: 1px;
}

.about .backgroud-spinner {
        position: absolute;
        width: 100%;
        height: 100%;
        outline: dashed 2px #ddd;
        outline-offset: -4px;
        animation: spin 15s linear infinite;
        border-radius: 50%;
        animation-play-state: paused;
        display: none;
}

.about:hover {
        .backgroud-spinner {
                outline-offset: 4px;
                animation-play-state: running;
        }
}

@keyframes spin {
        from {
                transform: rotate(0deg);
        }

        to {
                transform: rotate(360deg);
        }

}

.about .my-image-container img {
        border-radius: 50%;
        -o-object-fit: cover;
        object-fit: cover;
        display: block;
        -webkit-filter: saturate(1.25);
        filter: saturate(1.25);
}

.about .my-text {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        /* letter-spacing:0.5px; */
        line-height: 1.5rem;
        text-wrap: pretty;
        padding: 1rem;
        padding-top: 0.5rem;
        font-size: 14px;
        text-align: center;
}

.about .my-links {
        padding-bottom: 1rem;
}

.about .my-text p {
        max-width: 500px;
}

.padded {
        padding: 1rem;
}

.padded:has(.title-with-year) {
        padding-right: 0;
}

.padded:has(.title-with-year) .text-block {
        padding-right: 1rem;
}

.text-block {
        line-height: 1.25rem;
        padding-top: 1rem;
        text-wrap: pretty;
}

.svg.icon.black {
        -webkit-filter: invert(1) contrast(0.5);
        filter: invert(1) contrast(0.5);
}

.expandable-sections {
        width: 100%;
}

section.expand-section {
        border-bottom: 1px solid #777;
        border-top: 1px solid #777;
}

section.expand-section:first-child {
        border-top-width: 2px;
}

section.expand-section:last-child {
        border-bottom-width: 2px;
}

section.expand-section .wrapper {
        position: relative;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 0fr;
        grid-template-rows: 0fr;
        -webkit-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        visibility: collapse;
}

section.expand-section .wrapper .inside-wrapper {
        overflow: hidden;
}

.section-header,
.section-footer {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 1rem;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        z-index: 1;
        cursor: pointer;
}

.section-footer {
        padding: 0.5rem 1rem;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
}

.section-header::before,
.section-footer::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: -o-linear-gradient(315deg, #333, #444);
        background: linear-gradient(135deg, #333, #444);
        z-index: -1;
        -webkit-transition: opacity 0.25s ease;
        -o-transition: opacity 0.25s ease;
        transition: opacity 0.25s ease;
        opacity: 0;
}

.section-header h1 {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 400;
        color: #eee;
}

.section-header:hover::before,
.section-footer:hover::before {
        opacity: 1;
}

.section-footer .footer-text {
        opacity: 0;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
}

.section-footer:hover .footer-text {
        opacity: 1;
}

.expand-section.expanded .wrapper {
        visibility: visible;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
}

.expand-section.expanded .plus {
        display: none;
}

.expand-section.expanded .minus {
        display: block;
}

.section-body p {
        line-height: 1.5rem;
}

.full-image {
        padding-block: 1rem;
}

.full-image img {
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
}

.full-image .img-caption {
        text-align: center;
        display: block;
        padding: 0.25rem 1rem;
        font-size: 12px;
}

.pretty-list {
        display: block;
        list-style: none;
        line-height: 1.5rem;
}

.pretty-list li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 1rem;
}

ul.pretty-list li .list-bullet {
        width: 15px;
        padding: 0.3rem 0;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
}

.list-bullet .icon {
        -webkit-filter: invert(1) contrast(1) !important;
        filter: invert(1) contrast(1) !important;
}

ul.pretty-list li .list-text {
        padding-left: 0.5rem;
}

.title {
        font-weight: 400;
        color: #fff;
}

.sub-title {
        margin-top: 0.25rem;
        font-weight: 400;
        color: var(--accent-color);
        line-height: 1.25rem;
}

.minus {
        display: none;
}

.plus {
        display: block;
}

.title-with-year {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-block: 1rem 0.5rem;
        gap: 1rem;
}

.description {
        font-weight: 400;
        color: #aaa;
        padding-block: 0.5rem;
        display: block;
}

.year {
        background-color: #111;
        padding: 0.5rem 0.75rem;
        border-radius: 50px 0 0 50px;
        font-weight: 600;
        color: #ddd;
        font-size: 12px;
        white-space: nowrap;
}

.highlighted {
        color: #fff;
        font-weight: 600;
}

.inline-link {
        color: #fff;
        text-decoration: underline;
        text-underline-offset: 4px;
        font-weight: 500;
}

.text-block {
        line-height: 1.5rem;
}

.stickers {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 1rem;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.stickers .sticker {
        background-color: #111;
        border-radius: 40px;
        padding: 0.5rem 1rem;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 0.25rem;
        font-weight: 500;
        color: var(--accent-color);
        border: solid 2px var(--accent-color);
}

.stickers .sticker:hover {
        translate: 0 -3px;
}

.theme-toggle {
        background-color: #333;
        border: solid 2px #555;
        position: absolute;
        top: -2px;
        right: -2px;
        border-radius: 0 0 0 100%;
        width: 40px;
        aspect-ratio: 1;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: right;
        -ms-flex-pack: right;
        justify-content: right;
        -webkit-box-align: top;
        -ms-flex-align: top;
        align-items: top;
        padding: 5px;
        cursor: pointer;
        outline: none;
}

.theme-toggle:hover {
        -webkit-filter: invert(1);
        filter: invert(1);
}

.theme-toggle:focus {
        border-color: var(--accent-color);
}

@media screen and (max-width: 500px) {
        .center-container {
                padding-block: 0;
        }

        .cool-container {
                border-radius: 0;
                padding: 0;
        }

        .cool-container .cool-body {
                border-radius: 0;
                min-height: 100dvh;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
        }

        .about {
                padding-top: 3rem;
        }
}

@media (hover:none) {
        .theme-toggle:hover {
                -webkit-filter: none;
                filter: none;
        }
}

::-webkit-scrollbar {
        /* width: 0; */
}

.section-closer {
        display: none;
}

.section-content {
        color: inherit;
        text-align: start;
        display: block;
        width: 100%;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
}

.workExperience,
.projects {
        .section-content {
                margin-block: 1rem;
                position: relative;
                padding-block: 1rem;
                border: solid 1px #555;
                border-left: 0;
                border-right: 0;
                /* transform-origin: top; */
                overflow: hidden;
        }

        .section-content.closed {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                padding-block: 0rem;
                cursor: pointer;
                height: 110px;
                background-color: #222;
                background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#1f1f1f));
                background: -o-linear-gradient(#222, #1f1f1f);
                background: linear-gradient(#222, #1f1f1f);

                a {
                        display: none;
                }

                /* box-shadow: inset 0 -6px 12px 10px #000; */
                .section-closer {
                        -webkit-transform: translate(-50%, -100%);
                        -ms-transform: translate(-50%, -100%);
                        transform: translate(-50%, -100%);
                        pointer-events: none;
                }

                .section-closer.bottom {
                        -webkit-transform: translate(50%, 100%);
                        -ms-transform: translate(50%, 100%);
                        transform: translate(50%, 100%);
                }

                .text-block {
                        overflow: hidden;
                        white-space: nowrap;
                        -o-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                }
        }

        .section-content.closed:hover {
                -webkit-box-shadow: 0px 2px 4px 0px #000;
                box-shadow: 0px 2px 4px 0px #000;
                height: 135px;
        }

        .section-closer {
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                left: 0%;
                /* transform: translate(-50%, 0); */
                position: absolute;
                background-color: #111;
                top: 0px;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                padding: 0.5rem;
                aspect-ratio: 1;
                height: 36px;
                border-radius: 0 0 99px 0;
                cursor: pointer;

                img {
                        height: 15px;
                        aspect-ratio: 1;
                }
        }

        .section-closer:hover {
                height: 44px;

                img {
                        height: 17px;
                        aspect-ratio: 1;
                }
        }

        .section-closer.bottom {
                bottom: 0;
                right: 0;
                left: auto;
                top: auto;
                border-radius: 99px 0 0 0;
                -webkit-box-align: end;
                -ms-flex-align: end;
                align-items: flex-end;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
        }
}

.medium-zoom-overlay {
        z-index: 900;
}

.medium-zoom-image--opened {
        z-index: 999;
}